<div class="welcome-center-box">
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-md-4">
        <a href="/task_tables" class="btn btn-primary btn-lg btn-block">工作流</a>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <a href="/products" class="btn btn-primary btn-lg btn-block">产品管理</a>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <a href="/stocks" class="btn btn-primary btn-lg btn-block">库存管理</a>
      </div>

    </div>

    <br><br>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-4">
        <a href="/production_plans" class="btn btn-primary btn-lg btn-block" data-html="true">生产计划</a>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <a href="/customers" class="btn btn-primary btn-lg btn-block">客户管理</a>
      </div>

    </div>



  </div>
</div>

